<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>Swag Shop&#8482</title>

<!-- Bootstrap Core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="/css/heroic-features.css" rel="stylesheet">

<!-- jQuery -->
<script src="/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>

<script>
var loginUser = {};
<% if (loginUser) { %>
	loginUser = {
		em: '<%= loginUser.email %>',
		fn: '<%= loginUser.firstname %>',
		ln: '<%= loginUser.lastname %>',
		ph: '<%= loginUser.phone %>'
	};
<% } %>
</script>

<!--TODO - Signals, Exercise 1a, implement Pixel base code -->
<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');

fbq('init', '305925216454795', loginUser);
fbq('track', "PageView");
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=305925216454795&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->

<!--TODO - Signals, Exercise 1b, implement Advanced Matching -->
